@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}
html{
    transition: all 0.5s ease-in;
}
html.dark{
    --primary-color: #ffffff;
    --secondary-color: #333;
}
html.dark{
    background-color: #111;
    color: var(--primary-color);
}
body{
    font-family: "Heebo", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.toggleTheme{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}
.toggleTheme:focus{
    outline: none;
}
.toggle24{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    bottom: 100px;
    right: 25%;
}
.toggle24:focus{
    outline: none;
}
.toggle12{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    bottom: 100px;
    left: 25%;
}
.toggle12:focus{
    outline: none;
}
.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clock{
    position: relative;
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-in;
}
.needle{
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}
.needle.hour{
    transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}
.needle.second{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}
.center-point{
    position: absolute;
    top: 50%;
    left : 50%;
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.center-point::after{
    content: "";
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left : 50%;
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.time{
    font-size: 60px;
    transition: all 0.5s ease-in;
}
.date{
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.date .circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: 0.5s ease-in;
    font-size: 12px;
}